* {
  margin: 0;
  padding: 0;
}

.navbar-section {
  background-color: #173865;
  width: 100%;
}

.top-nav-section {
  width: 80%;
  margin: auto;
  display: flex;
}

.main-title-section {
  flex: 5;
  background-color: #8EC739;
  border-bottom-left-radius: 25px;
  font-size: 40px;
  font-family: 'Vesper Libre', serif;
  padding-left: 20px;
}

.sample-page-section,
.home-top-section,
.icon-top-section {
  flex: 1;
  background-color: #8EC739;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.icon-top-section {
  font-size: 30px;
  cursor: pointer;
  border-bottom-right-radius: 25px;
  display: none;
}

.sample-page-section span,
.home-top-section span {
  font-family: 'Source Sans Pro', sans-serif;
}

.home-top-section {
  border-bottom-right-radius: 25px;
}

.main-top-left-span {
  color: #fff;
}

.main-top-right-span {
  color: #fff;
}

.navigation-section {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 8px 0;
}

.navigation-section a {
  text-decoration: none;
}

.home-navigation-section,
.about-navigation-section,
.vehicle-sale-nav-sectin,
.history-nav-section,
.contact-nav-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.home-navigation-section :hover,
.about-navigation-section :hover,
.vehicle-sale-nav-sectin :hover,
.history-nav-section :hover,
.contact-nav-section :hover,
.live-chat-section :hover {
  color: #8EC739;
}

.live-chat-section {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
}

.spininin-icon {
  cursor: pointer;
}

.chat-icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  width: 50%;
}

.chat-icon-section span {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 8px;
}

.latest-news-section {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #fff;
  padding: 5px 0;
}

.latest-news {
  color: #CDCDCD;
  font-family: 'Vesper Libre', serif;
  font-weight: bold;
  font-size: 14px;
}

.general-login-section {
  background-color: #CDCDCD;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.extra-login-section,
.login-section {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.extra-login-section {
  width: 40%;
  background-color: #173865;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.extra-login-section h6 {
  font-family: 'Vesper Libre', serif;
  font-size: 30px;
  width: 80%;
}

.maint-provision {
  width: 50%;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.login-section {
  background-color: #8EC739;
  border-left: 3px solid #fff;
}

.login-section h6,
.update-login-form-section h6 {
  font-family: 'Vesper Libre', serif;
  font-size: 25px;
  color: #fff;
}

.provision-input {
  width: 60%;
  margin-bottom: 20px;
}

.provision-input input,
.provision-button {
  border: none;
  outline: none;
  height: 35px;
  width: 90%;
  padding: 0 10px;
  font-weight: bold;
  color: #888;
}

.provision-button {
  width: 25%;
  background-color: #CDCDCD;
  font-family: 'Source Sans Pro', sans-serif;
  color: gray;
  border-radius: 3px;
}

.provision-button:hover {
  transform: scale(1.1);
}

.radio-buttons-section {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.login-form-section button {
  background-color: #173865;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5px 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}

.login-form-section button:hover {
  transform: scale(1.1);
}

.login-form-section input {
  height: 35px;
  width: 55%;
  border: none;
  outline: none;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
}

.links-signup-section { 
  margin-top: -8px;
  margin-bottom: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.links-signup-section a {
  color: #fff;
  text-decoration: none;
}

.links-signup-section a:hover {
  color: #173865;
}

.what-we-do-section {
  background-color: #fff;
  padding: 20px 0;
}

.what-we-do-title {
  width: 80%;
  margin: auto;
  text-align: center;
}

.what-we-do-here-heading-section {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.first-header-div,
.second-header-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Vesper Libre', serif;
}

.what-we-do-title .first-header-div div {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

.what-we-do-title .second-header-div div {
  background-color: #173865;
  padding: 5px;
  width: 120px;
  margin-left: 10px;
  padding: 10px 0;
  color: #fff;
}

.what-we-do-title h5 {
  width: 70%;
  margin: 10px auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #555;
}

.lower-home-icons-section {
  display: flex;
  width: 70%;
  margin: auto;
  padding-bottom: 70px;
}

.lower-home-icon-one {
  flex: 1;
  background-color: #C1C1C1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  border-radius: 3px;
}

.lower-home-icon-one i {
  font-size: 50px;
  color: #173865;
  margin-top: 10px;
  cursor: pointer;
}

.lower-home-icon-one i:hover::before {
  transform: rotate(360deg);
}

.lower-home-icon-one i:before {
  display: inline-block;
  transition: 1s all;
}

.lower-home-icon-header {
  font-family: 'Vesper Libre', serif;
  font-weight: bold;
  margin-top: 10px;
}

.lower-home-span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #777;
}

.general-section {
  position: relative;
  height: 100vh;
}

.footer-section {
  width: 100%;
  background-color: #173865;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

.copy-right-section,
.empty-footer-section,
.designed-by-section {
  flex: 1;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

.designed-by-section em {
  color: #8EC739;
}

.update-login-form-section {
  background-color: #8EC739;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.update-login-form-section form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-login-form-section form input {
  width: 100%;
}

.update-login-form-section span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.user-details-section {
  margin-top: 20px;
}

.inner-user-details {
  width: 80%;
  margin: auto;
}

.user-details-upper {
  width: 100%;
  display: flex;
  background-color: #8EC739;
}

.user-details-lower {
  background-color: #173865;
  padding: 10px;
  display: flex;
}

.user-details-lower img {
  width: 200px;
  height: 200px;
}

.profile-span,
.add-more-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.profile-span {
  justify-content: flex-start;
  font-family:  'Vesper Libre', serif;
  color: #fff;
}

.profile-span span {
  font-size: 20px;
}

.add-more-section button {
  border: none;
  padding: 5px 20px;
  background-color: #173865;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  color: #fff;
}

.add-more-section button:hover {
  transform: scale(1.1);
}

.user-information-section {
  flex: 1;
  padding: 10px 30px;
}

.full-name-section {
  display: flex;
  width: 65%;
}

.fullname-label,
.first-name-section,
.last-name-section {
  flex: 1;
  font-weight: bold;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.fullname-label,
.username-label {
  display: flex;
  align-items: center;
}

.first-name-section {
  display: flex;
  padding-right: 10px;
}

.user-name-section {
  display: flex;
  width: 65%;
  margin-top: 10px;
}

.username-label,
.useremail-label {
  flex: 1;  
  font-weight: bold;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.useremail-label {
  display: flex;
  align-items: center;
}

.user-name-section-inner,
.user-email-section-inner {
  flex: 2;
  padding-right: 10px;
  font-weight: bold;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  display: flex;
}

.user-email-section {
  width: 65%;
  margin-top: 10px;
  display: flex;
}

.user-information-section i {
  color: #8EC739;
}

.create-vehicle-main {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-create-vehicle-div {
  width: 30%;
  background-color: #173865;
  padding: 10px 0;
  text-align: center;
}

.inner-create-vehicle-div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-create-vehicle-div input {
  width: 90%;
  height: 35px;
  border: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 0 10px;
}

.inner-create-vehicle-div button {
  padding: 5px 25px;
  border: none;
  background-color: #8EC739;
  color: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.inner-create-vehicle-div button:hover {
  transform: scale(1.1);
}

.inner-create-vehicle-div h6 {
  font-size: 22px;
  font-family:  'Vesper Libre', serif;
  color: #fff;
  margin: auto;
  text-align: center;
}

.inner-create-vehicle-div span {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

.close-div-icon {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.close-div-icon i {
  font-size: 26px;
  cursor: pointer;
  color: #fff;
}

.close-div-icon i:hover {
  color: #8EC739;
  transform: scale(1.3);
}

.user-cars-list {
  background-color: #DDDDD6;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.user-car-details {
  width: 95%;
  margin-top: 20px;
  border: 1px solid #173865;
  padding-bottom: 10px;
}

.left-user-car-details {
  background-color: #173865;
  flex: 1;
}

.first-title-section {
  margin-top: 10px;
  display: flex;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.first-title-section-inner {
  flex: 1;
  padding-left: 30px;
}

.first-title-section-inner i {
  color: #8EC739;
}

.second-title-section-inner {
  flex: 2;
}

.car-title-header-section {
  background-color: #173865;
  padding: 10px;
}

.car-title-header-section span {
  font-family:  'Vesper Libre', serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.single-car-details-span-main {
  display: flex;
  background-color: #8EC739;
}

.single-car-details-span-main button {
  border: none;
  padding: 5px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #444;
  outline: none;
}

.single-car-details-span-main button:hover {
  transform: scale(1.1);
}

.single-car-details-span-main .single-car-details-span {
  flex: 1;
}

.car-image-section img {
  width: 200px;
  height: 120px;
}

.other-car-details {
  display: flex;
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

.car-image-section {
  padding: 20px;
  background-color: #fff;
}

.single-car-details-inner {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.car-privillages-header {
  width: 98%;
  margin: auto;
  margin-top: 10px;
  background-color: #8EC739;
}

.last-privillages-section {
  background-color: #173865;
  width: 98%;
  margin: auto;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

.last-privillages-section button {
  padding: 5px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  background-color: #8EC739;
}

.last-privillages-section button:hover {
  transform: scale(1.1);
}

.over-write-border {
  background-color: #DDDDD6;
  border: 1px solid #CDCDCD;
  width: 95%;
}

.history-text-area {
  border: none;
  outline: none;
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  font-weight: bold;
}
.log-out-section button {
  border: none;
  padding: 5px 20px;
  margin: 0 5px;
  border-radius: 3px;
  outline: none;
  color: #173865;
  font-weight: bold;
  width: 100%;
}

.active-button {
  color: #8EC739;
}

.contact-us-main-section {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  padding-bottom: 90px;
}

.contact-us-main-section-left {
  padding: 40px;
  flex: 1;
  background-color: #173865;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.contact-us-main-section-left i {
  color: #8EC739;
}

.contact-us-main-section-right {
  flex: 2;
  padding: 5px 30px 0;
}

.contact-us-main-section h6 {
  font-family:  'Vesper Libre', serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.contact-support {
  display: flex;
}

.contact-support-left {
  flex: 1;
  display: flex;
  padding: 10px;
  align-items: center;
  font-weight: 18px;
  color: #fff;
  font-weight: bold;
}

.contact-support-right {
  flex: 4;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 18px;
  color: #fff;
  font-weight: bold;
}

.contact-support i {
  font-size: 20px;
}

.lower-contact-support i {
  font-size: 30px;
}

.contact-us-main-section-right span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  padding-bottom: 40px;
}

.top-name-email {
  display: flex;
}

.top-name-email input {
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  font-weight: 700;
  color: #555;
  height: 30px;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 10px;
  background-color: 	#F2F2F2;
  padding: 0 10px;
}

.top-name-email-left,
.top-name-email-right {
  flex: 1;
  margin-right: 20px;
}

.top-lower-email {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: 10px;
}

.top-lower-email button {
  border: none;
  padding: 5px 20px;
  background-color: #173865;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.top-lower-email button:hover,
.contact-us-main-section i:hover  {
  transform: scale(1.1);
  cursor: pointer;
}

.top-name-email-text-area {
  padding-right: 20px;
}

.top-name-email-text-area textarea {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #CDCDCD;
  background-color: 	#F2F2F2;
  padding: 5px 10px;
  font-size: 15px;
}

.first-and-last-name-section {
  flex: 2;
  display: flex;
}

.first-name-section,
.last-name-section {
  flex: unset;
}

.upload-capture-image-section {
  background-color: #fff;
  display: flex;
  height: 35px;
  width: 240px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.upload-capture-image-section i {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.image-camera-section-one {
  margin-left: auto;
  margin-right: 8px;
}

.fa-paperclip {
  cursor: pointer;
}

.file-input-hidden {
  position: absolute;
  top: 0;
  width: 30px;
  left: -10px;
  opacity: 0;
}

.image-camera-section-one span {
  color: #000;
  margin-right: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  position: absolute;
  left: 10px;
  color: #999;
}

.webcam-display-section {
  width: 60%;
  height: 60%;
}

.main-webcam-division {
  position: fixed;
  top: 20px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1120px) {

.sample-page-section,
.home-top-section{
  display: none;
}

.icon-top-section {
    display: block;
}

.navigation-section {
  flex-direction: column;
}

.home-navigation-section,
.about-navigation-section,
.vehicle-sale-nav-sectin,
.history-nav-section,
.contact-nav-section,
.live-chat-section {
  width: 100%;
  justify-content: flex-start;
  padding: 8px 20px;
}
}

@media only screen and (max-width: 540px) {
  .general-login-section {
    flex-direction: column;
  }

  .webcam-display-section {
    width: 95%;
    height: 50%;
  }
  
  .webcam-display-section-image {
    width: 90%;
    height: 90%;
  }
  .main-webcam-division-button {
    position: absolute;
    bottom: 0;
  }

  .update-login-form-section {
    width: 95%;
    margin: auto;
  }

  .login-form-section input {
    width: 75%;
  }

  .extra-login-section {
    width: 95%;
    border-radius: unset;
    margin: auto;
  }

  .extra-login-section h6 {
    width: 90%;
  }

  .extra-login-section .provision-input {
    width: 80%;
  }

  .login-section {
    width: 95%;
    margin: auto;
    border: unset;
  }

  .latest-news-section {
    margin-top: 10px;
  }

  .what-we-do-here-heading-section {
    flex-direction: column;
    width: 100%;
  }

  .what-we-do-title .second-header-div {
    margin: auto;
  }

  .what-we-do-title h5 {
    width: 100%;
  }

  .lower-home-icons-section {
    flex-direction: column;
    padding: unset;
    padding-bottom: 85px;
    width: 90%;
  }

  .lower-home-icon-one {
    margin-bottom: 5px;
  }

  .top-nav-section {
    width: 95%;
  } 

  .main-title-section {
    font-size: 30px;
  }

  .icon-top-section {
    font-size: 25px;
  }

  .maint-provision {
    width: 70%;
  } 

  .user-details-lower {
    flex-direction: column;
    width: 100%;
    padding: unset;
  }

  .user-details-lower img {
    width: 95%;
    height: 150px;
  }

  .image-user-section {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .inner-user-details {
    width: 95%;
  }

  .user-information-section {
    padding: 10px 0;
  }


  .full-name-section {
    margin: auto;
    width: 95%;
  }

  .user-name-section,
  .user-email-section {
    width: 95%;
    margin: auto;
    margin-top: 10px;
  }

  .fullname-label {
    width: 35%;
  }

  .username-label {
    flex: unset;
  }

  .username-label {
    width: 50%;
  }

  .add-more-section {
    flex: 2;
  }
  
  .first-and-last-name-section{
    display: flex;
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .user-name-section-inner {
    width: 50%;
  }

  .other-car-details {
    flex-direction: column;
  }

  .car-image-section img {
    width: 100%;
    height: 120px;
  }

  .user-cars-list {
    width: 95%;
    padding-bottom: 90px;
  }

  .first-name-section,
  .last-name-section {
    flex: unset;
  }

  .first-title-section-inner {
    padding: 0 5px;
    flex: unset;
    display: flex;
    align-items: center;
    width: 50%;
  }

  .left-user-car-details {
    padding-bottom: 10px;
  }

  .second-title-section-inner {
    flex: unset;
    display: flex;
    align-items: center;
  }

  .inner-create-vehicle-div {
    width: 95%;
  }

  .single-car-details-span-main {
    width: 100%;
  }

  .single-car-details-span-main span {
    font-size: 14px;
  }

  .single-car-details-span-main button {
    padding: unset;
    margin: unset;
    padding: 10px 5px;
    margin: 0 2px;
  }

  .single-car-details-span ,
  .add-receipt-button,
  .sale-receipt-button,
  .add-history-receipt-button {
    font-size: 11px;
  }

  .over-write-border {
    padding-bottom: 90px;
  }

  .contact-us-main-section {
    flex-direction: column;
    width: 100%;
  }

  .contact-us-main-section-left {
    flex: unset;
    width: 95%;
    padding: unset;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 340px) {
  .fullname-label {
    width: 40%;
    flex: unset;
  }  

  .first-and-last-name-section{
    display: flex;
    width: 60%;
    margin: auto;
  }

  .live-chat-section {
    flex-direction: column;
  }

  .chat-icon-section {
    width: 100%;
    margin: unset;
  }

  .log-out-section button {
    margin: unset;
    border-radius: 3px;
  }

  .log-out-section {
    width: 100%;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 300px) {
  .user-information-section span,
  .user-information-section i {
    font-size: 16px;
  }

  .left-user-car-details span,
  .left-user-car-details i {
    font-size: 16px;
  }
}